:host {
  display: inline-block;
  width: 100%;
}

:host(:focus) {
  outline: none;
}


message-list{
  width: 100%;
  display: block;
  position: relative;
}
li#row {
  position: relative;
  display: block;
  width: 100%;
  float: left;
  margin: 0;
  padding-top: 2%;
}

li#row #avatar{
  float: left;
  width: 13%;
  padding: 1% 1% 1% 0;
  text-align: center;
}

li#row #avatar img{
  width: 100%;
  max-width: 60px;
  border-radius: 100px;
}

li#row #content{
  width: 80%;
  float: left;
  margin-top: 10px;
}

li#row #content p{
  line-height: 20px;
  word-break:break-word;
  margin: 0;
}